{#
/**
 * @file
 * Template for the shipment tracking form.
 *
 * Available variables:
 * - form.order_number: The input element for the order number.
 * - form.email: The input element for the order email.
 * - form.error_message: The error message configure in the backoffice.
 * - form.success_message: The message displayed when the shipment tracking is successfully fetched.
 * - form.state: The state of the order as per defined in the backoffice.
 *
 * @ingroup themeable
 */
#}

<form{{ attributes }}>
  {{ form.form_build_id }}
  {{ form.form_token }}
  {{ form.form_id }}

  <div class="container">
    <div class="order-number">
      {{ form.order_number }}
    </div>
    <div class="order-email">
      {{ form.email }}
    </div>
    <div class="form-button">
      {{ form.actions }}
    </div>
    <div class="error-message">
      {{ form.error_message }}
    </div>
    <div class="success-message">
      {{ form.success_message }}
    </div>
    <div class="result-state">
      {{ form.state }}
    </div>
  </div>
</form>
